/*
	Theme Name: labic
	Theme URI:
	Description: Labic
	Version: 16.07
	Author: Eduardo Lucas
	Author URI: http://eduardolucas.biz
  Tags: HTML5, CSS3, Responsive, Live, Video, Publications, Datasets
	License: GPLv2
*/

/*import fonts*/

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*general styles*/

body {
	margin-top: 110px;
  font-family: "open_sansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  position: relative;
  overflow-x: hidden;
}

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id] {
    margin-top: -110px;
    padding-top: 120px;
}

a {
  color: rgb(25, 34, 40);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'roboto_condensedregular';
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

blockquote {
  margin: 30px 0;
}

blockquote p {
  color: rgb(119, 119, 119);
}

.section-bottom-spacer {
  margin-bottom: 40px;
}

.social-bar {
  background-color: #fff;
  border-left: 3px #5EC3BC solid;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
}

.aside-bar,
.comments-section {
  background-color: #f9f9f9;
  padding: 15px 20px 5px 20px;
  margin-bottom: 30px;
}

.aside-widget {
  border: none;
  padding: 15px 20px 15px 20px;
}

.featured-tiles {
  height: 420px;
}

.tagcloud a {
  font-family: 'roboto_condensedregular';
  color: #192228;
  border: 1px solid #192228;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 4px;
  display: inline-block;
}

.tagcloud a:hover {
  background: #192228;
  color: #5EC3BC;
  text-decoration: none;
}

.sd-social-icon .sd-content ul li[class*="share-"] a.sd-button {
  background: #000 !important;
}

/*header*/

.header-navbar {
	min-height: 70px;
	background: #fbfbfb;
	z-index: 900;
}

.header-navbar.tiny {
  min-height: 54px;
}

.header-navbar .header-logo {
  background: url('assets/logo-lg.png') no-repeat;
  width: 90px;
  height: 41px;
}

.header-navbar.tiny .header-logo {
  width: 70px;
  height: 36px;
  background-size: 220px;
}

.navbar.tiny {
  margin-bottom: 0;
}

.header-navbar .navbar-brand {
	padding: 15px 15px;
}

.header-navbar.tiny .navbar-brand {
	padding: 14px 15px;
}

.header-navbar .nav>li>a {
  padding: 16px 2px;
	color: rgb(94, 195, 188);
}

.header-navbar.tiny .nav>li>a {
  padding: 8px 2px;
  transition: height 200ms;
}

.mega-menu-wrap.tiny {
  top: 54px !important;
}

/*searchform*/

input#s {
  background: url(assets/search.png) no-repeat 10px 8px;
  -moz-border-radius: 2px;
  border: none;
  font-size: 12px;
  height: 32px;
  line-height: 1.2em;
  padding: 4px 10px 4px 36px;
}
input#searchsubmit {
  display: none;
}

#s {
  float: right;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  width: 32px;
}
#s:focus {
  width: 150px;
	border: 1px solid rgb(25, 34, 40);
	border-radius: 0;
}
#searchsubmit {
  display: none;
}
.only-search #searchform {
  top: 5px;
  z-index: 1;
}
.only-search #s {
  background-color: #666;
  border-color: #000;
  color: #222;
}
.only-search #s,
.only-search #s:focus {
  width: 85%;
}
.only-search #s:focus {
  background-color: #bbb;
}
.with-image #searchform {
  top: auto;
  bottom: -27px;
  max-width: 195px;
}
.only-search + #access div {
  padding-right: 205px;
}

.screen-reader-text {
  display: none;
}

.sb-search {
	position: relative;
	margin-top: 0px;
	margin-right: 0px;
	min-width: 36px;
	height: 54px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	padding-top: 10px;
}

.header-navbar.tiny .sb-search {
  height: 48px;
  padding-top: 4px;
  transition: height 200ms;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 80%;
	height: 36px;
	margin: 0;
	z-index: 10;
	padding: 4px 36px 6px 10px;
	font-family: inherit;
	font-size: 16px;
	color: #2c3e50;
}

.fa-search,
.navbar-inverse .navbar-nav li a {
color: #5ec3bc;

font-size: 0.9em;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
}

/*contact form*/

.contact-form input {
	width: 100%;
}

.contact-form textarea {
  height: 85px;
  width: 100%;
  float: none;
  margin-bottom: 6px;
}

.wpcf7-submit {
    float: right;
    border-radius: 0px;
    background-color: #192228;
    color: #FFF;
    padding: 8px;
    border: none;
}

/*home*/

.home-body  {
  margin-top: 20px;
}

.home-post {
  min-height: 220px;
}

/*live*/

.live-featured {
  background: rgba(90,120,140,0.25);
  padding-top: 15px;
  padding-bottom: 20px;
}

.live-video-title h3 {
  margin-top: 6px;
}

.live-video {
  height: 480px;
  margin-top: 5px;
  padding-left: 15px;
  width: 63.3%;
}

.live-embed {
  background: #fff;
}

.live-aside {
  padding-right: 15px;
  width: 36.6%;
  padding-left: 0px;
  margin-top: 5px;
}

.live-box-aside {
  background: #fff;
  height: 480px;
  padding: 15px;
}

.live-box-description {
  color: #999;
  font-size: 16px;
}

.live-box-section {
  overflow: auto;
  overflow-x: hidden;
  height: 310px;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
  margin-top: 15px;
  padding: 10px;
}

.live-th {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/*page*/

.btn-page-text,
.page-title,
.aside-text {
  font-family: 'roboto_condensedregular';
}

.btn-page {
  background: rgb(25, 34, 40);
  color: rgb(94, 195, 188);
  border: none;
  padding: 8px;
}

/*single*/

.last-posts .last-posts-title {
  margin-top: 0px;
}

.last-posts-title {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 0px;
}

.last-posts-title a{
  color: rgb(25, 34, 40);
  text-decoration: none;
}

.last-posts-th {
  margin-right: 0px;
  margin-bottom: 10px;
  padding-left: 0px;
}

.post-datetime {
  color: #666;
  margin-top: 0px;
}

.single-datetime {
  color: #999;
}

.single-author {
  padding: 20px 0;
}

.last-posts-body {
  display: table;
}

article .single-content {
  margin: 40px 0;
}

.single-container img {
  width: 100% !important;
  height: auto;
}

.post-divider {
  width: 100%;
  float: left;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  margin-bottom: 40px
}

.post-divider a {
  color: rgb(94, 195, 188);
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0px;
  border-bottom: 3px solid;
  position: relative;
  top: -10px;
}

.pagenavi-single {
  margin: 20px auto;
}

.single-content iframe {
  height: 425px;
}

/*single publicações*/

.aside-bar .pub-meta-tags a {
  display: inline-block;
  color: #192228;
  padding: 4px 6px;
  text-align: center;
  margin: 6px 6px 6px 0;
  text-decoration: none;
  border: 1px solid #192228;
  border-radius: 6px;
}

.aside-bar .pub-meta-tags a:hover {
  background: #192228;
  color: #5ec3bc;
  border: 1px solid #192228;
}

.aside-pub-bar {
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 0;
}

.pub-meta-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.pub-meta-item:last-child {
  border-bottom: none;
}

/*category & archive*/

.page-title-divider,
.category-title-divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

.page-title-divider a,
.category-title-divider a {
  color: rgb(94, 195, 188);
  text-decoration: none;
  padding: 10px 0px;
  border-bottom: 3px solid;
  position: relative;
  top: -17px;
}

.section-body {
  padding-top: 40px;
  margin-bottom: 0;
}

.post-home {
  padding-left: 0;
}

.post-home header {
  margin-bottom: 30px;
}

.post-home section {
  display: table-cell;
}

.video-post {
  min-height: 255px;
  display: block;
  padding-left: 0px;
}

.video-post-th,
.video-post-title {
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 15px;
  display: table-cell;
}

/*publicacoes*/

.navbar-fixed-publ {
  top: 110px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 190;
	border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
	font-family: 'roboto_condensedregular';
}

.navbar-fixed-publ .navbar-brand {
	padding-left: 15px;
	padding-right: 15px;
}

.header-publ {
	padding-top: 60px;
}

.scrollspy-publ {
  position: relative;
  overflow-y: scroll;
  height: 390px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.scrollspy-divider {
  padding-top: 10px;
}

.publ-divider {
	font-family: 'roboto_condensedregular';
	text-align: left;
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.publ-divider a {
	color: rgb(94, 195, 188);
  text-decoration: none;
  padding: 10px 0px;
  border-bottom: 3px solid;
  position: relative;
  top: -15px;
}

/*page 404*/

.page-404 {
  background: #eee;
  padding-bottom: 30px;
}

.page-404 h1 {
  font-size: 160px;
  color: #fff;
  text-shadow: 0px 1px 1px #777;
}

.page-404 h2 {
  font-size: 32px;
}

/*iframe scroll block*/

.embed-map iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

.embed-overlay {
  background:transparent;
  position:relative;
  width:100%;
  height:425px;
  top:425px;
  margin-top:-425px;
}

.embed-map .sharedaddy {
  display: none;
}

/*equipe*/

.team-flat .team-item {
  background: #f9f9f9 none repeat scroll 0px 0px;
  border-bottom: 3px #5EC3BC solid;
}

/*footer*/

.footer-bottom {
  padding-bottom: 20px;
}

/*nav affix styles*/

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.aside-widget .nav-pills>li.active>a,
.aside-widget .nav-pills>li.active>a:focus,
.aside-widget .nav-pills>li.active>a:hover {
  color: rgb(94, 195, 188);
  background-color: rgb(25, 34, 40) !important;
}

/*.affix-top,
.affix {
  display: none;
}*/

.affix-video {
  display: block;
}

@media (min-width:768px) {

  .section-body {
    margin-bottom: 20px;
  }

  .single-container,
  .page-container {
    width: 720px;
  }

  .header-navbar .header-logo {
    background: url('assets/logo-lg.png') no-repeat;
    width: 295px;
    height: 41px;
  }

  .header-navbar .navbar-brand {
      padding: 15px 0px;
  }

  .header-navbar.tiny .navbar-brand {
    padding: 14px 0px;
  }

  .sb-search {
  	padding-top: 20px;
  }

  .header-navbar.tiny .sb-search {
    padding-top: 12px;
  }

  #s:focus {
    width: 200px;
  }

  .wp-tiles-tile {
    height: 420px !important;
  }

  .wp-tiles-container .wp-tiles-byline-title {
    font-size: 42px;
  }

  .wp-tiles-container .wp-tiles-byline-align-top .wp-tiles-tile-with-image .wp-tiles-byline {
    top: 60px;
    left: 15px;
  }

  .wp-tiles-container .wp-tiles-byline {
    width: 55%;
  }

  .featured-home .wp-tiles-container .wp-tiles-byline {
    width: 60%;
  }

  .page-404 {
    padding-bottom: 0;
  }

  /*image wider*/

  .single-container iframe.wide,
  .single-container img.wide {
    display: block;
    width: 100vw;
    /*
     * Math break:
     *   viewport width: 100vw
     *   #wrapper width: 400px
     *   remainder: (100vw - 400px)
     *   want to shift the image by half of the remainder, so: (100vw - 400px) / 2
     *   and apply it as a negative margin: -1 * (100vw - 400px) / 2)
     */
    margin: 3rem 0;
    margin-left: -webkit-calc(-1 * (104vw - 720px) / 2);
    margin-left: calc(-1 * (104vw - 720px) / 2);
    height: auto;
  }

  .single-container iframe.wide {
    width: 100vw;
    height: 425px;
  }

  .affix-top,
  .affix {
    display: block;
  }

  .affix-top {
    position: relative;
  }

  .affix {
    top: 160px;
  }

  .affix,
  .affix-bottom {
      width: 220px;
  }

  .affix-bottom {
    position: absolute;
  }

  .affix-video {
    width: 170px;
  }

}

@media (min-width:992px) {

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  .last-posts-th {
    margin-right: 10px;
  }

  /*image wider*/

  .single-container iframe.wide,
  .single-container img.wide {
    display: block;
    width: 102vw;
    /*
     * Math break:
     *   viewport width: 100vw
     *   #wrapper width: 400px
     *   remainder: (100vw - 400px)
     *   want to shift the image by half of the remainder, so: (100vw - 400px) / 2
     *   and apply it as a negative margin: -1 * (100vw - 400px) / 2)
     */
    margin: 3rem 0;
    margin-left: -webkit-calc(-1 * (104vw - 720px) / 2);
    margin-left: calc(-1 * (104vw - 720px) / 2);
    height: auto;
  }

  .single-container iframe.wide {
    width: 100vw;
    height: 425px;
  }

  .affix,
  .affix-bottom,
  .affix-video {
      width: 220px;
  }

  .wp-tiles-container .wp-tiles-byline {
    width: 40%;
  }

}

@media (min-width:1200px) {

  .affix,
  .affix-bottom {
    width: 360px;
  }

  .affix-video {
    width: 300px;
  }

}

@media (max-width:991px) {

  .pagenavi-single .pages {
    display: block;
    margin-bottom: 15px;
  }
  .pagenavi-single .wp-pagenavi a {
    padding: 6px 5px 6px 5px !important;
    font-size: 11px !important;
  }

}

@media (max-width:767px) {

  .page-title-divider a, .category-title-divider a {
    top: -15px;
  }

  .video-post {
    min-height: 90px;
  }

  .video-post-th {
    margin-bottom: 20px;
  }

  .affix {
    position: relative;
  }

  .featured-tiles,
  .wp-tiles-tile {
    height: 360px !important;
  }

}

@media (max-width:479px) {

  .pagenavi-single a.page {
    display: none;
  }

}
